/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.factors {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 5% 10%;
}

.visualization {
}
